<header block="app-header">
    <div elem="wrap" class="site-width">
        <div elem="header-logo">
            <a href="#"><img src="img/header-logo.png" alt=""></a>
        </div>
        <nav elem="menu">
            <ul>
                <li><a href="#">Новости</a></li>
                <li><a href="#">Журнал</a></li>
                <li><a href="#">Проекты</a>
                    <span></span>
                    <ul elem="hasChild">
                        <li><a href="#">Все Идеи</a></li>
                        <li><a href="#">Регистрация ИДЕИ</a></li>
                    </ul>
                </li>
                <li><a href="#">Идеи</a>
                    <span></span>
                    <ul elem="hasChild">
                        <li><a href="#">Все Идеи</a></li>
                        <li><a href="#">Регистрация ИДЕИ</a></li>
                    </ul>
                </li>
                <li><a href="#">Контакты</a></li>
            </ul>
        </nav><!-- e:menu -->
        <div elem="details">
            <div elem="cabinet"><a href="#">Личный кабинет</a></div>
            <div elem="log-reg">
                <div elem="login"><a href="#">войти</a></div>
                <div elem="registr"><a href="#">зарегистрироваться</a></div>
            </div>
        </div><!-- edetailsm -->
    </div>
</header><!-- b:app-header -->
