<!-- /b-2top -->
<div class="b-aside-menu">
    <div class="b-aside-menu__content">
        <div class="b-aside-menu__close">
            <div class="svg-icon svg-icon--close"><svg viewBox="0 0 24 24"><path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"></path></svg></div>
        </div>
        <div class="b-aside-menu__navs">
            <div class="b-aside-menu__scroller">
                <div class="b-aside-menu__head">
                    <div class="b-aside-menu__logo-holder">
                        <a class="b-aside-menu__logo-link" href="#">
                            <!-- <img class="b-aside-menu__logo" src="images/img/logo.png"> -->
                        </a>
                    </div>
                </div>
                <div class="b-aside-menu__scroller-content"></div>
                <div class="b-aside-menu__foot"></div>
            </div>
        </div>
    </div>
    <div class="b-aside-menu__overlay"></div>
</div>
<div id="mobile-header" class="mobile-header" data-headroom="">
    <div class="mobile-header__toolbar">
        <div class="b-aside-menu-btn">
            <span class="svg-icon svg-icon--menu"><svg class="svg-icon__link" viewBox="0 0 42 30" id="menu"><path d="M5 6h32v2H5zm0 8h24v2H5zm0 8h32v2H5z"/></svg></span>
        </div><!-- b-aside-menu-btn -->


        <div class="toolbar-right-actions">
            <div class="toolbar-button me-feedback-trigger">
                <svg class="toolbar-button-icon" xmlns="http://www.w3.org/2000/svg" width="17.907" width="36" height="36" viewBox="0 0 17.907 18">
                  <path class="cls-1" d="M978.4,29.955L981.83,33.5a8.268,8.268,0,0,0,.812-0.8c0.992-1.141-.671-2.8-0.671-2.8s-1.3-1.6-2.662-.729A6.356,6.356,0,0,0,978.4,29.955Zm13.262,13.711-3.434-3.552a8.239,8.239,0,0,1,.814-0.8c1.154-.969,2.761.75,2.761,0.75s1.553,1.35.654,2.694A6.223,6.223,0,0,1,991.659,43.665Zm-8.689-4.875a14.275,14.275,0,0,0,2.309,1.908,1.9,1.9,0,0,0,2.315,0l3.452,3.528a4.58,4.58,0,0,1-5.3.212,21.62,21.62,0,0,1-8.31-8.592,4.668,4.668,0,0,1,.344-5.33l3.419,3.569a1.941,1.941,0,0,0-.065,2.332A15.068,15.068,0,0,0,982.97,38.791Zm8.443-3.194v0.011a0.974,0.974,0,0,1-1.924-.2,3.448,3.448,0,0,0-3.184-3.555,0.907,0.907,0,0,1-.855-0.978,0.857,0.857,0,0,1,.345-0.6,0.969,0.969,0,0,1,.688-0.165,5.793,5.793,0,0,1,3.673,1.853A4.767,4.767,0,0,1,991.413,35.6Zm1.277-5.5a7.661,7.661,0,0,1,1.977,5.839l0,0a0.9,0.9,0,0,1-1.046.76,0.908,0.908,0,0,1-.88-0.952,5.963,5.963,0,0,0-1.539-4.556,7.217,7.217,0,0,0-4.594-2.289,0.907,0.907,0,0,1-.855-0.979,0.851,0.851,0,0,1,.345-0.6,0.972,0.972,0,0,1,.688-0.172A9.309,9.309,0,0,1,992.69,30.1Z" transform="translate(-976.781 -27.156)"/>
                </svg>
                <div class="toolbar-button-dropdown">
                    
                </div>
            </div>

        </div><!-- toolbar-right-actions -->
    </div>
</div><!-- /mobile-header -->
